<div class="cat">
    <img src="https://www.rd.com/wp-content/uploads/2017/05/Why-Your-Cat-Loves-Boxes-According-to-Science-318174692-kmsh.jpg"
        alt="funny cat picture" />
</div>


<a href="/">Go back</a>